.aktuality-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .aktualita {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  
  .aktualita img {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
  }
  
  .aktualita-content {
    margin: 0 auto;
  }

  .admin-controls {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-self: flex-start; /* Move buttons to the bottom left */
  }
  
  .admin-panel {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .admin-panel input,
  .admin-panel textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-panel button {
    padding: 10px 15px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  .admin-panel button:hover {
    background-color: #45a049;
  }
  
  .aktualita button {
    padding: 10px 15px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border-radius: 20px;

  }

  .aktualita button:hover {
    background-color: #45a049;
  }

  #ChooseFile {
    background-color: #4caf50;
  }

  .aktualita img {
    margin: 0 auto;
    width: 400px;

  }