.footer {
    display: flex;
    justify-content: space-between;
    background: #222831;

    /*background-color: #333;*/
    color: #EEEEEE;
    padding: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
  }

  .footer-right h2 {
    margin: 0;
    text-decoration: underline;
    margin-bottom: 15px;
  }

  .footer-right h4 {
    padding-bottom: 5px;
    margin: 0;
    font-size: 20px;
  }


  .footer-left {
    flex: 0 0 60%;
    padding: 20px;
  }

  .footer-right {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-right p {
    text-align: left;
    padding-left: 0;
    padding-bottom: 5px;
    margin: 3px;

  }

  .footer-right p, .footer-right h3 {
    color: #f0f0f0;
  }

  .map-container {
    width: 100%;
    height: 250px;
  }

  .map-container iframe {
    width: 100%;
    height: 135%;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(255, 255, 255, 0.2);

  }

