.Link {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #222831 0%, white 100%);
    padding: 20px;
    display: flex;
    align-items: center; /* Vertikální vycentrování obsahu */
}

.Logo {
    flex-shrink: 0; /* Logo zůstane své velikosti */
    margin-right: 20px; /* Mezera mezi logem a odkazy */
}

.Logo img {
    height: 55px;
    padding: 0;
}

.currentLink {
    background-color: #393E46;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Zajistí, že tento kontejner zabere dostupný prostor */
    display: flex;
    justify-content: center; 
}

.currentLink a {
    margin: 0 30px;
    text-decoration: none;
    color: #EEEEEE;
    transition: transform 0.2s ease;
}

.currentLink a:hover {
    transform: scale(1.2);
    text-decoration: underline;
}

body {
    padding-top: 100px;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    display: block; /* Můžete použít block nebo inline-block podle potřeby */
    z-index: 1000; /* Ujistěte se, že dropdown bude nad ostatními prvky */
  }
  
  .dropdown li {
    list-style-type: none;
  }
  
  .dropdown li a {
    display: block; /* Zajistí, že odkaz zabere celou šířku */
    padding: 8px 12px; /* Přidejte nějaké odsazení pro odkazy */
    color: #007BFF; /* Změňte barvu písma podle potřeby */
    text-decoration: none; /* Odstraní podtržení */
  }
  
  .dropdown li a:hover {
    text-decoration: underline; /* Přidá podtržení při najetí myší */
  }
  
  .currentLink div {
    position: relative; /* Aby dropdown byl správně umístěn */
  }
  