.Link {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #222831 0%, white 100%);
    padding: 20px 0; /* Vertikální padding */
    display: flex;
    align-items: center; /* Vertikální zarovnání */
    justify-content: center; /* Navigace na střed */
    z-index: 1000; /* Ujistěte se, že navbar je nad ostatními prvky */
}

.Logo {
    position: absolute; /* Logo umístěno nezávisle na ostatních prvcích */
    top: 50%; /* Vertikální zarovnání */
    left: 20px; /* Odsazení od levého kraje */
    transform: translateY(-50%); /* Vycentrování vertikálně */
}

.Logo img {
    height: 55px; /* Velikost obrázku */
    padding: 0;
    
}

.currentLink {
    background-color: #393E46;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around; /* Rovnoměrné rozložení odkazů */
    max-width: 70%; /* Omezí šířku panelu na 70% stránky */
    width: 100%; /* Panel se přizpůsobí dostupné šířce */
}

.currentLink div {
    position: relative; /* Pro správné umístění dropdownu */
    margin: 0 10px; /* Odsazení mezi odkazy */
}

.currentLink a {
    margin: 0 15px;
    text-decoration: none;
    color: #EEEEEE;
    transition: transform 0.2s ease;
    display: flex; /* Flexbox pro vycentrování textu */
    align-items: center; /* Vertikální vycentrování */
}

.currentLink a:hover {
    transform: scale(1.2);
    text-decoration: underline;
}

body {
    padding-top: 6%;
}

/* Styl pro dropdown */
.dropdown {
    position: absolute;
    top: 100%; /* Dropdown umístěn pod hlavním odkazem */
    left: 50%; /* Vycentrování dropdownu */
    transform: translateX(-50%); /* Perfektní vycentrování */
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Tmavý stín */
    z-index: 1000;
    width: max-content; /* Přizpůsobí šířku obsahu */
    padding: 2px 0;
    border-radius: 20px;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown li {
    list-style-type: none;
    text-align: center;
}

.dropdown li a {
    display: block; /* Celá šířka klikací */
    padding: 12px;
    color: #007BFF;
    text-decoration: none;
    text-align: center;
}

.dropdown li a:hover {
    text-decoration: underline;
}

.currentLink > div {
    position: relative;
}

.currentLink > div:hover .dropdown {
    display: block;
}


