@font-face {
  font-family: NerkoOne;
  src: url(../public/fonts/NerkoOne-Regular.ttf);
}

@font-face {
  font-family: Sour;
  src: url(../public/fonts/SourGummy-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: 'Manrope';
  src: url(../public/fonts/Manrope-VariableFont_wght.ttf);
  font-style: normal;
  font-weight: 600;
}

* {
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
  }
  
  a:hover {
    color: cyan;
    text-decoration: underline;
  }

h1, h2, h3, h4, h5 {

  font-family: "Manrope";
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

a {
  font-size: 15px;
}


.headerImage {
  position: relative;
  text-align: center;
  height: 620px; /* Nastavte výšku podle potřeby */
  overflow: hidden; /* Center text horizontally */
}

.headerImage img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Tmavý stín */
  filter: brightness(100%);
  
}

.oborImage img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Tmavý stín */
  filter: brightness(33%);
  position: relative; /* Přidáno pro správný z-index */
  z-index: 1;
  
}

.oborImage {
    position: relative;
    text-align: center;
    height: 300px; /* Nastavte výšku podle potřeby */
    overflow: hidden; /* Center text horizontally */
    margin-bottom: 4%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Tmavý stín */
    background: #e8e8e8; /* Ujistěte se, že pozadí je odlišné od barvy textu */
    display: flex; /* Přidáno pro flexbox */
    align-items: center; /* Vertikální centrování */
    justify-content: center; /* Horizontální centrování */
}

.oborImage h1 {
  position: absolute; /* Umožní umístit h1 nad obrázek */
  top: 50%; /* Vertikální centrování */
  left: 50%; /* Horizontální centrování */
  transform: translate(-50%, -50%); /* Centrovat h1 */
  color: white; /* Změna barvy textu pro lepší viditelnost */
  z-index: 2; /* Ujistěte se, že je větší než z-index obrázku */
  
}

.Description {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the element's own width and height */
  color: white; /* Change text color for better visibility */
  background-color: rgba(30, 30, 30, 0.822); /* Optional: Add a background for better contrast */
  padding: 10px; /* Optional: Add some padding */
  border-radius: 5px;
}

.obor-container { /* Přidejte třídu pro rodičovský prvek */
  display: flex;
  flex-wrap: wrap; /* Umožní kontejnerům se přizpůsobit */
  justify-content: space-between; /* Umožní prostor mezi kontejnery */
  padding: 2%;
}
.obor-druh {
  width: 30%; /* Můžete zmenšit šířku, aby se vešly lépe */
  position: relative; /* Přidáno pro relativní umístění */
  text-align: center; /* Zarovná text na střed */
  padding-bottom: 2%;
  background: #e8e8e8;
  border-radius:25px ;
  overflow: hidden; /* Zajistí, že obrázek nepřečnívá */
}

.obor-druh p {
  padding: 10px;
}

.obor-druh a:hover {
  text-decoration: none;
  color: black;
}

.obor-druh img {
  width: 100%;
  height: auto;
  max-height: 300px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Tmavý stín */
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px; 
  transition: transform 0.3s ease; /* Přidá plynulý přechod pro transformaci */

}
.obor-druh:hover img {
  transform: scale(1.1); /* Zvětší obrázek o 10% při najetí myší */
}

.obor-druh h2 {
  color: black; /* Změní barvu textu pro lepší čitelnost */
}


.info-container, .info-container2{
  background: #e8e8e8;
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
  padding: 2%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Tmavý stín */

}

.info-container2 {
}

#pouceni {
  color: goldenrod;
}

ul li {
font-size: 30px;
}