@font-face {
  font-family: NerkoOne;
  src: url(../public/fonts/NerkoOne-Regular.ttf);
}

@font-face {
  font-family: Sour;
  src: url(../public/fonts/SourGummy-VariableFont_wdth\,wght.ttf);
}

* {
  font-family: "Sour";
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
  }
  
  a:hover {
    color: cyan;
    text-decoration: underline;
  }

h1, h2, h3, h4, h5 {

  font-family: "Sour";
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-size: 70px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 30px;
}

a {
  font-size: 20px;
}



.HeaderImage img {
  width: 100%;
  height: 620px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Tmavý stín */
  
}

.HeaderImage h1{
  padding: 15px;
  position: absolute; /* Umožní umístit h2 přes obrázek */
  top: 50%; /* Umístí h2 na střed obrázku vertikálně */
  left: 50%; /* Umístí h2 na střed obrázku horizontálně */
  transform: translate(-50%, -50%); /* Přesune h2 zpět o polovinu jeho šířky a výšky, aby bylo přesně ve středu */
  text-align: center; /* Zarovná text na střed */
  color: white; /* Změní barvu textu (pokud je obrázek tmavý, aby byl text čitelný) */
  background: grey;
  border-radius: 10px;
  font-size: 300%;

}

.Description {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.obor-container { /* Přidejte třídu pro rodičovský prvek */
  display: flex;
  flex-wrap: wrap; /* Umožní kontejnerům se přizpůsobit */
  justify-content: space-between; /* Umožní prostor mezi kontejnery */
  
}
.obor-druh {
  width: 31%; /* Můžete zmenšit šířku, aby se vešly lépe */
  margin: 1%; /* Přidá mezery mezi kontejnery */
  position: relative; /* Přidáno pro relativní umístění */
  text-align: center; /* Zarovná text na střed */
  padding-bottom: 2%;
  background: #e8e8e8;
  border-radius:25px ;
  overflow: hidden; /* Zajistí, že obrázek nepřečnívá */
}

.obor-druh p {
  padding: 10px;
}

.obor-druh a:hover {
  text-decoration: none;
  color: black;
}

.obor-druh img {
  width: 100%;
  height: auto;
  max-height: 300px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Tmavý stín */
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px; 
  transition: transform 0.3s ease; /* Přidá plynulý přechod pro transformaci */

}
.obor-druh:hover img {
  transform: scale(1.1); /* Zvětší obrázek o 10% při najetí myší */
}

.obor-druh h2 {
  color: black; /* Změní barvu textu pro lepší čitelnost */
}


.info-container, .info-container2{
  background: #e8e8e8;
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
  padding: 2%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Tmavý stín */

}

.info-container2 {
  width: 50%;
}

#pouceni {
  color: goldenrod;
}

ul li {
font-size: 30px;
}