.teachers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.teacher-card {
  width: 20%; /* Nastavte šířku podle potřeby */
  border: 1px solid rgb(0, 0, 0); /* Původní barva okraje */
  border-radius: 8px;
  padding: 12px;
  margin: 12px;
  text-align: left;
  transition: border-color 0.3s ease, transform 0.3s ease; /* Přidání přechodu pro hladký efekt */
}

/* Styl pro obrázek učitele */
.teacher-photo {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 8px;
}

/* Modrá barva okraje pro učitele hudebního oboru */
.teacher-card.učitel-hudebního-oboru:hover {
  border-color: rgba(0, 0, 255, 1); /* Konečná barva okraje */
  transform: scale(1.05); /* Zvětšení karty při najetí */
}

/* Zelená barva okraje pro učitele výtvarného oboru */
.teacher-card.učitel-výtvarného-oboru:hover {
  border-color: rgba(0, 255, 0, 1); /* Konečná barva okraje */
  transform: scale(1.05); /* Zvětšení karty při najetí */
}

/* Červená barva okraje pro učitele tanečního oboru */
.teacher-card.učitel-tanečního-oboru:hover {
  border-color: rgba(255, 0, 0, 1); /* Konečná barva okraje */
  transform: scale(1.05); /* Zvětšení karty při najetí */
}

/* Předchozí stav s nulovou sytostí */
.teacher-card.učitel-hudebního-oboru {
  border-color: rgba(0, 0, 255, 0); /* Počáteční transparentní barva */
}

.teacher-card.učitel-výtvarného-oboru {
  border-color: rgba(0, 255, 0, 0); /* Počáteční transparentní barva */
}

.teacher-card.učitel-tanečního-oboru {
  border-color: rgba(255, 0, 0, 0); /* Počáteční transparentní barva */
}

.filters {
  display: flex; /* Zarovnání tlačítek vedle sebe */
  gap: 10px; /* Mezera mezi tlačítky */
  justify-content: center; /* Zarovnání na střed */
  align-items: center;
}

.filters button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: black;
  color: white;
}

.filters .active {
  background-color: #ffffff; /* Aktivní tlačítko */
  color: black;
  font-weight: bold;
}
